<div class="container" *ngIf="theme">
    <!-- <app-welcome/> -->
    <!-- theme content  -->
    <div class="theme-content">
        <!-- theme-title  -->
        <div class="theme-title">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <h2>{{theme.themeName}}</h2>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                </div>
                <div class="subscribers">
                    <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                    <!-- <button class="subscribe">Subscribe</button>
                    <button class="unsubscribe">Unsubscribe</button> -->
                </div>
            </div>
        </div>
        <!-- comment  -->
        

        <app-comment *ngFor="let post of theme.posts" [post]="post"/>
        <app-answer-comment *ngIf="isLogged"/>
    </div>
</div>